.top-right-logos ul li{
    list-style-type: none;
}
.top-right-logos ul li a{
    text-decoration: none;
}
.top-right-logos li a img{
    width: 25px;
}
.w-175{
    width: 1.75rem;
}
.w-2{
    width: 2rem;
}
.fs{
    font-size: x-small;
}
.fs-smaller{
    font-size:smaller ;
}
.fs-xx-smalle{
    font-size: xx-small;
}
.fs-medium{
    font-size: medium;
}
.bg-green{
    background-color: #33a137;
}
.bg-grey{
    color: #a3a3a3;
}
.bg-second-nav{
   color: #f7f7f7;
}
.color-white{
    color: #fff;
}
.font-small{
    font-size: small;
}
.width-8 {
    width: 8rem;
}
.carousel-img-wrapper .carousel-caption{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -40%);
}
.carousel-img-wrapper .carousel-caption button{
    background-color: rgba(66, 66, 66, 0.384);
}
.main .carousel-img-wrapper {
    position: relative;
}
.main .carousel-img-wrapper .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.top-right-logos ul li input{
    width: 120px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: transparent;
    padding: 2px ;
}
.top-right-logos ul li input::placeholder{
    color: white;
    padding:0 4px;
    font-size: 13px;
}
.top-right-logos ul li button{
    border-radius: 6px;
    height: 28px;
    font-size: 13px;
    padding: 0 12px 0 6px;
    border: 0;
}
.search-engine-wrapper{
    width: 570px;
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0.6);
}
.search-engine-wrapper ul{
    padding: 0;
    margin: 0;
}
.search-engine-wrapper ul li{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.search-engine-wrapper ul li a{
    text-decoration: none;
}
.search-engine-wrapper ul button{
    height: 50px;
    width: 100px;
    margin: 9px 0;
}
.explore-sec img{
    padding: 10px;
    width: 70px;
    border-radius: 10px;
}
.explore-sec a{
    text-decoration: none;
}
.explore-sec a h5{
    color: #222;
}
.titanium-agencies-sec img{
    width:60px;
}
.bg-orange{
    background-color: rgba(236, 112, 10, 0.062);
}
.bg-rgba-green{
    background-color: rgba(9, 163, 4, 0.062);
}
.bg-rgba-pink{
    background-color: rgba(189, 5, 97, 0.062);
}
.bg-rgba-purple{
    background-color: rgba(72, 0, 114, 0.062);
}
.bg-rgba-skyblue{
    background-color:rgba(7, 163, 190, 0.062)
}
.bg-rgba-blue{
    background-color: rgba(15, 3, 185, 0.062);
}

.explore-sec img:hover{
    border: 1px solid rgba(236, 112, 10, 0.062) ;
}
.explore-sec h5:hover{
    color:rgba(236, 112, 10, 0.425) ;
}
